.orderSummary_container{
    width: 90%; 
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 10px; 
}


.orderID{
    width: 10px !important;
}

@media (max-width:900px){
    .orderSummary_container >table {
        font-size: 15px;    
    }
    .orderSummary_container{     
        overflow-x:auto;
    } 
}

