.order_summary__container{
    width: 90%;      
    display: flex; 
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 30px 5px black;
    padding: 30px;
    background-color: whitesmoke;   
    padding-bottom: 50px; 
    min-height: 56vh;
}

.order_summary__containerbox{
    position: relative;
    margin: 10px 20px;     
}

.order_summary__label{
    position: relative;
    padding: 10px;
    background: rgb(21, 168, 226);
    color: black;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
    padding-left: 50px;
}

.order_summary__label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.order_summary__content{
    position: relative;
    display: flex;
    background: white;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.order_summary__containerbox.active .order_summary__content{
    height: 185px;
    padding: 10px;
}

.order_summary__containerbox.active .order_summary__label::before{
    content: '-';
}

.order_summary__Info{
    margin-left:  50px;
    display: flex;
    flex-direction: column;
}

.order_card-img{
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 5px;
}

.order__emptyContainer{
    margin-top: auto;
    margin-bottom: auto; 
    align-self: center;
}


@media (max-width:600px){
    .order_summary__container{
        width: 95%;          
        padding: 3px;       
    } 

    .order_summary__container > div > h2 {
        font-size: 20px;
        margin-top: 10px;
    }
    .order_summary__label{ 
        font-size: .9em;
        font-weight: 600;
        padding-left: 10px;
        border-radius: 3px;  
    }

    .order_summary__label::before{
        content: none;
    }
        
    .order_summary__containerbox{       
        margin: 10px 10px;  
         
    }
        
    .order_summary__containerbox.active .order_summary__label::before{
        content: none;
    }
        
    .order_card-img{
        width: 80px;
        height: 80px;
        padding: 5px;
        margin: 2px;
        margin-top: 8%;
    }

    .order_summary__Info{
        margin-left:  10px; 
    }
    .order_summary__Info >h6{
       font-size: 12px;   
       
    }
    .order_summary__containerbox.active .order_summary__content{
        height: max-content;
        
    }
}

 