.footer__container{        
    display: flex;        
    /* width: max-content;          */
    color: white;  
    background: black;
    margin: 0px; 
    margin-top: 30px;  
    padding: 10px;
    padding-left: 40px;
  }
  
  .footer__appname{
    font-size: 25px;
    text-decoration: none;
    outline: none;
    color: orange; 
  }

  .footer__appname:hover {      
    text-decoration: none;
    outline: none; 
    color: orange;
  }

  
  .footer__socialMedia{
    display: flex;        
  }

  .footer__mail , .footer__git , .footer__linkedIn{
      margin: 10px;
      font-size: 30px !important; 

  }

  .footer__mail:hover  ,  .footer__git:hover , .footer__linkedIn:hover {
      background-color: red !important;
      border-radius: 50px;
      padding: 3px;
  }

  .footer__links{
       margin-left: auto;
       margin-right: auto;
      width: max-content;
       padding: 20px;
       padding-left: 190px;
  }

  .footer__desc{
    font-size: 14px;
    margin-top: 10px;
    /* width: 600px; */
  }