  .header{
    background-color: black;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .header__logo{
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;  
  }

  .header__searchInput{
    height: 30px;
    padding: 10px;
    border: none;
    width: 90%; 
    outline: none; 
    padding-left: 40px;
    border-radius: 2px;
  }

  .header__seachIcon{
    background-color: orange;
    padding: 1px;
    height: 30px !important;    
    width: 40px !important;
    border-radius: 2px;     
   }

  .header__seach{
    display: flex;
    flex: 1;
     margin-right:5px ; 
  }

  .headerNav{
     display: flex; 
     justify-content: space-evenly;
     margin-right: 100px;
     /* margin-left: 20px; */
  }

  .header__link{
    color: white;
    text-decoration: none;
  }

  .header__option{
    display: flex;
    flex-direction: column;
    padding: 10px; 
    align-items: center;
  }

  .header__account{
    width: 40px !important;
    height: 40px !important ;
    border-radius: 50%; 
    /* background-color: blue; */
  }

  .header__account:hover{
    background-color: red; 

  }
  
.menuLines{
  color: white;
  font-size: 30px;
  margin-left: 30px;
  cursor: pointer;
}





  

  @media only screen and (max-width: 600px){
    .headerNav{
      margin: 0;
      padding: 5px;
    }
    .header__seach{
      width: 100%;
      font-size: 13px;
      padding: 2px;
    }
    .header__searchInput{
      padding-left: 10px;
    }
  }

 





