.category__Addcontainer{
    margin: 10px;
    padding: 10px;
}

.category__Updatecontainer{
    max-width: 800px;
    margin: 40px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px; 
    display: flex; 
    flex-direction: column;
    padding-left: 120px; 
    box-shadow: 10px 10px 30px 5px black;
    background: lightgrey;
}

.category__Modifycontainer{
    margin: 10px;
    padding: 10px;
}

.category__Addcontainer ,.category__Modifycontainer{
    width: 100%;
    padding: 0;
}


@media (max-width:600px){
    
    .category__Updatecontainer{     
        margin: 10px;
        padding: 20px;   
        padding-left: 10px; 
        width: 90%;     
        margin-left: auto;
        margin-right: auto;
    }
    .category__Updatecontainer >h3 {
        font-size: 20px;
        margin-left: 20px;
    }
    .category__Updatecontainer > form {
        font-size: 10px; 
        padding: 5px !important;
    }

    .form-group > h4 {
        font-size: 20px;
    }
     .form-check{
         margin-bottom: 20px;
     }
    .form-check-label{
        font-size: 15px;        
    }

    .category__Addcontainer,.category__Modifycontainer{
        width: 100%;
        padding: 0;
    }
    .category__Addcontainer,.category__Modifycontainer{
        margin-top: 0;
    }
    .category__Addcontainer > h4{
        font-size: 20px;
    }

    .category__Addcontainer > div {
        font-size: 15px;
    }

    .category__Addcontainer > div >div > input {
        font-size: 13px;
    }

    .category__Modifycontainer> h4{
        font-size: 18px;
    }
    .category__Modifycontainer > label {
        font-size: 15px;
    }

    .category__Modifycontainer > div {
        font-size: 15px; 
    }

}


@media (max-width : 800px) and (min-width:600px){
    .category__Updatecontainer{     
        margin: 10px;
        padding: 20px;   
        padding-left: 10px; 
        width: 90%;     
        margin-left: auto;
        margin-right: auto;
    }
}