.category__container{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 10px; 
}

.category__titleHolder{
    display: flex;
}

.category__title{
    width: max-content;
    padding: 10px;
}

@media (max-width:900px){ 
    .category__container{      
        overflow-x:auto; 
    }
 
    .category__title{
        width: max-content;
        padding: 4px;
    }
    .category__title > h3{
        font-size: 25px ;
    }

    .category__addNew{
        margin-left: 10px;
        width: 300px !important;
    }

    .category__container > div{        
        display: block;  
        width: 100%;       
    }
    
}