.cart__container{
    /* max-width: 1400px; */
    width: 90%;      
    display: flex; 
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 30px 5px black;
    padding: 30px;
    background-color: white;
    min-height: 393px;
    max-height: 90vh;
}

.cart__itemlist{     
    padding: 10px !important; 
    display: flex; 
}

.cart__mainList{
    width: 70%;
    margin-right: 40px;
}
.cart__emptyContainer{
    display: flex;
    flex-direction: column;    
    margin-top: auto;
    margin-bottom: auto;     
    width: 100%;
    align-items: center;
}
.cart__shopmore{
    background-color: red !important;
    color: black !important;
    font-weight: 600 !important;
    border-radius: 30px !important;
    width: 200px;
}

.cart__icon{
    font-size: 25px !important;
    margin-right: 6px;
}

.cart__card{
    height: auto;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;  
}

.cart__card-img{
    width: 80px;
    height: 100px;
}

.cart__info{
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-left: 30px;
    width: 70%;
}

.cart__price{
    font-size: 19px;
    margin-left: 10px;
    font-weight: 600;
}

.cart__qty{
    display: flex;
    margin-top: 10px;
    height: 30px;
    padding-left: 10px;
    width: 200px;
}


.cart__PriceInfoCard{
    width: 25%;
    height: fit-content;
}





@media (max-width:600px){
    .cart__emptyContainer > h3 {
        font-size: 20px;
    }

    .cart__container{        
        width: 96%;              
        margin: 10px;
        padding: 3px;
    }
    
    .cart_tag{
        font-size: 20px;
        align-self: center;
    }
    .cart__itemlist{     
         width: 100%;
        display: block; 
    }
    .cart__mainList{
        width: 100%;
        margin-right: 5px;
        margin-bottom: 30px;
    }

    .cart__card{       
        display: block;    
        height: auto; 
    }
    
    .cart__image{
        float: right;
    }

    .cart__card-img{
        width: 70px;
        height: 70px;
    }

    .cart__info > h4{
        font-size: 15px;
    }

    .cart__info{        
        margin: 3px;
        margin-left: 4px;
        width: 70%;
    }
    .cart__price{
        font-size: 15px;
    }
   
    .cart__qty{
        width: max-content;
        justify-content: center;       
    }

    .cart__qty > .card-text {
        font-weight: 800; 
        background:black;
        color: white;
        margin-left: 5px;
        margin-right: 5px;
    }

    .cart__remove > button{
       float: none !important;
       margin-top: 10px;
       width: 100%;
       height: 35px;
       text-align: center;
    }


    .cart__PriceInfoCard{
        width: 100%;
        height: fit-content;        
    }

    .cart__PriceInfoCard >a{
        width: 80%;
        align-self: center;
    }
    
    .card-header > h5{
         font-size: 18px;
    }

    .card-body > div > h5 ,  .card-body > div > h5 >span{
        font-size: 17px;
    }

    .card-footer {
        padding-right: 5px !important;
        padding-left:  5px !important;
    }
    .card-footer  > h5 , .card-footer >  h5 > span {
        font-size: 17px;
    }

}

  
 
@media (max-width:800px) and (min-width:600px) {
     
    .cart__emptyContainer > h3 {
        font-size: 40px;
    }
    .cart__shopmore{
        font-size: 30px !important;
        width: 50%;
    }

    .cart__shopmore>svg{
        font-size: 30px !important;
    }
}

@media (max-width:1050px) and (min-width:600px){
    .cart__emptyContainer > h3, .cart__shopmore>svg {
        font-size: 40px;
    }
    .cart__shopmore{
        font-size: 30px !important;
        width: 40%;
    }
    .cart__shopmore>svg{
        font-size: 30px !important;
    }
    .cart__container{        
        width: 96%;              
        margin: 10px;
        padding: 3px;        
    }
    
    .cart_tag{
        font-size: 20px;
        align-self: center;
    }
    .cart__itemlist{     
         width: 100%;
        display: block; 
    }
    .cart__mainList{
        width: 100%;
        margin-right: 5px;
        margin-bottom: 30px;
    }

    .cart__card{       
        display: block;    
        height: auto; 
    }
    
    .cart__image{
        float: right;
    }

    .cart__card-img{
        width: 70px;
        height: 70px;
    }

    .cart__info > h4{
        font-size: 15px;
    }

    .cart__info{        
        margin: 3px;
        margin-left: 4px;
        width: 70%;
    }
    .cart__price{
        font-size: 15px;
    }
   
    .cart__qty{
        width: max-content;
        justify-content: center;       
    }

    .cart__qty > .card-text {
        font-weight: 800; 
        background:black;
        color: white;
        margin-left: 5px;
        margin-right: 5px;
    }

    .cart__remove > button{
       float: none !important;
       margin-top: 10px;
       width: 100%;
       height: 35px; 
       align-self: center;
       justify-self: center;
    }


    .cart__PriceInfoCard{
        width: 100%;
        height: fit-content;        
    }

    .cart__PriceInfoCard >a{
        width: 80%;
        align-self: center;
    }
    
    .card-header > h5{
         font-size: 18px;
    }

    .card-body > div > h5 ,  .card-body > div > h5 >span{
        font-size: 17px;
    }

    .card-footer {
        padding-right: 5px !important;
        padding-left:  5px !important;
    }
    .card-footer  > h5 , .card-footer >  h5 > span {
        font-size: 17px;
    }

}