 .productList_container{
    display: flex;  
   max-width: 1300px;
   margin-left: auto;
   margin-right: auto;
   padding: 10px;
   justify-content: center;
}
   

@media (max-width:600px){
   .msg_NoProductFound{
      font-size: 20px;
      margin-top: auto;
      margin-bottom: auto;
     
   }
 
   .product__loading{
      height: 60vh;
   }
}