.home__image{
    width: 100%;    
    height: 40vh; 
    z-index: -1; 
    mask-image: linear-gradient(to bottom , rgba(0,0,0,1) , rgba(0,0,0,0));    
}

.productBanner{ 
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;    
}

.header__row{
    display: flex;
    z-index: -1;
    justify-content: center;  
    margin-right: 0px !important;
    margin-top: -70px;
}

.loadingSpinner{
    font-size: 10px;
    margin: 10px;
}

.product__link{
    text-decoration: none;
    outline: none;
    color: black;
}


.product__link:hover{
    text-decoration: none;
    outline: none;
    color: black;
}