.product__container{
    display: flex;
    margin-top: 10px;        
    flex-direction: column;
    max-height: auto;   
    min-width: 200px;
    margin: 20px; 
    z-index: 1;
    padding: 3px; 
    align-items: center;
    justify-content: flex-end; 
    border-radius: 10px;    
    width: auto; 
    border: 1px solid white; 
    background: white;
    box-shadow: 0 20px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
}

.product__image{
    transform: scale(0.8);     
    margin-left: auto;
    margin-right: auto;
    height: 500px !important;
}

.product__image:hover{
    transform: scale(1);
    cursor: pointer;
}

.container-fluid{
    margin: 10px;
    display: flex; 
}

.product__image{
    height: 70%;
}

.product__cart{
    height: 10%;
}

.product__row{
    display: flex;
    flex-direction: column;
    max-width: 60%;
}

.product__row2{
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 50px;
     
}

.product__details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    text-align: left;
}
.product__details > h2 { 
    align-items: flex-start !important;
    text-align: left !important;
}

.product__desc{
    list-style-type: square;
    font-size: 20px;
    line-height: 40px;
}

 
.product__price {
    margin: 10px;
}


.product__Login{
    margin-left: 20%;
    bottom: 0px;    
    width: 40%;
    text-align: center; 
    color: black;
    font-weight: 500;
    font-size: 15px;
    border-radius: 30px;
    background:orange;
    padding: 10px 25px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 1;
    z-index: 11;
    text-decoration: none;
    outline: none;
}


.product__Login:hover , .product__Addcart:hover{
    text-decoration: none;
    outline: none;
    color: black;
}


.product__Addcart{
    margin-left: 20%;
    bottom: 0px;    
    width: 40%;
    text-align: center; 
    color: black;
    font-weight: 500;
    font-size: 15px;
    border-radius: 30px;
    background:orange;
    padding: 10px 25px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 1;
    z-index: 11;
    text-decoration: none;
    outline: none;
}